@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    color: #00704A;
    font-family: Kufam;
}

a {
    text-decoration: none;
}

a:hover {
    color: #27251F;
}

.header {
  background-color: rgb(0, 112, 74);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
  position: fixed;
  width: 100%;
  z-index: 3;
  height: 100px;
}

.header ul {
  border-radius: 15px;
  margin: 25px;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.main {
  background-color: #00704A;
  height: 1000px;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover {
  border-radius: 5px;
  color: #27251F;
}

.header li a:active {
  border-radius: 5px;
  color: #00704A;
}

.header .logo {
  font-family: Kufam;
  color: white;
  display: block;
  float: left;
  font-size: 2em;
  padding: 35px 20px;
  text-decoration: none;
  margin-left: 55px;
}

.header .menu {
  text-align: center;
  padding-right: 40px;
  font-family: Kufam;
  color: #00704A;
  text-decoration-color: #00704A;
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.header .menu-icon {
  background-color: white;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  float: right;
  margin: 25px 30px;
  padding: 28px 20px;
  position: relative;
  user-select: none;
  margin-right: 55px;
}

.header .menu-icon .navicon {
  background: rgb(255, 255, 255);
  text-decoration-color: #00704A;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked~.menu {
  max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
}


.top-wrapper {
  background-image: url(images/gambar1.jpg);
  background-size: cover;
  color: white;
  text-align: center;
  height: 770px;
  width: 100%;
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.content .title {
  font-size: 75px;
  color: #fff;
  font-family: Kufam;
}

.content .intro {
  text-align: center;
  font-size: 18px;
}

.content .getting {
  height: 50px;
  width: 100px;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  position: absolute;
  margin-left: -50px;
  left: 50%;
  box-shadow: 0 1px 2px 0 rgb(151, 151, 226);
  color: #27251F;
  text-decoration: none;
  font-weight: bold;
  top: 150px;
}

.content .getting:hover {
  height: 50px;
  width: 100px;
  background-color: #00704A;
  border: none;
  border-radius: 10px;
  position: absolute;
  margin-left: -50px;
  left: 50%;
  box-shadow: none;
  color: #27251F;
  text-decoration: none;
  font-weight: bold;
}

.lists {
  background-color: #fff;
  height: 540px;
  color: #00704A;
}

.lists h2 {
  padding-top: 95px;
  padding-bottom: 45px;
  text-align: center;
  margin: 50px 0;
  font-family: Kufam;
}

.card-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.card {
  width: 170px;
  height: 240px;
  padding: 15px 10px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(184, 184, 148, .7);
}

.card img {
  width: 90px;
}

.img-card {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #ebebe0;
  overflow: hidden;
  margin: 0px auto 15px auto;
}

.ic {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.ic img {
  width: 28px;
  padding: 5px;
  border-radius: 5px;
  margin: 0 5px;
}

.ic .facebook {
  background-color: #4267B2;
}

.ic .instagram {
  background-color: #E1306C;
}

/* service */

.services {
  display: flex;
  justify-content: space-evenly;
}

#services {
  background-color: #fff;
}

.service {
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  width: 18rem;
  border-radius: 5px;
  text-align: center;
  padding: 0 15px;
  margin: 30px 15px;
}

.service:hover {
  box-shadow: 2px 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-8px);
  cursor: pointer;
}

.service-icon {
  display: flex;
  padding-top: 20px;
}

.service-icon span {
  width: 60px;
  height: 60px;
  margin: 15px auto;
  display: flex;
  border-radius: 50%;
}

.service-icon span i {
  margin: auto;
  font-size: 30px;
}

.service h3 {
  margin: 5px auto;
  padding: 5px;
  transition: all .5s;
  color: rgb(130, 130, 130);
}

.service-desc {
  margin: 10px auto;
}

.service p {
  margin: 5px auto;
  line-height: 1.5rem;
}

.service-price {
  margin: 5px auto;
  padding: 5px 0 30px 0;
}

.service-icon .fa-file-image {
  color: rgb(35, 74, 156);
  transition: all .5s;
}

.i-design span {
  border: 2px solid rgb(76, 108, 175);
  transition: all .5s;
}

.service:hover i {
  color: white;
}

.i-design:hover span {
  background-color: rgb(76, 108, 175);
}

.i-design:hover h3 {
  color: rgb(76, 108, 175);
}

.service-icon .fa-desktop {
  color: rgb(47, 201, 180);
  transition: all .5s;
}

.i-desktop span {
  border: 2px solid rgb(233, 255, 27);
  transition: all .5s;
}

.i-desktop:hover span {
  background-color: rgb(233, 255, 27);
}

.i-desktop:hover h3 {
  color: rgb(233, 255, 27);
}

.service-icon .fa-android {
  color: rgb(52, 175, 68);
  transition: all .5s;
}

.i-android span {
  border: 2px solid rgb(59, 175, 75);
  transition: all .5s;
}

.i-android:hover span {
  background-color: rgb(59, 175, 75);
}

.i-android:hover h3 {
  color: rgb(59, 175, 75);
}

.service-icon .fa-pencil-alt {
  color: rgb(255, 30, 30);
  transition: all .5s;
}

.i-pencil span {
  border: 2px solid rgb(255, 30, 30);
  transition: all .5s;
}

.i-pencil:hover span {
  background-color: rgb(255, 30, 30);
}

.i-pencil:hover h3 {
  color: rgb(255, 30, 30);
}

.wrapper {
  padding-top: 55px;
  padding-bottom: 67px;
}

.title {
  padding-bottom: 25px;
}

/* coorporations */

#coorporations {
  background-color: rgb(251, 251, 251);
  box-shadow: 0 7px 15px 4px rgba(0, 0, 0, 0.2);
}

.coorporation-title h2 {
  font-size: 28px;
  text-align: center;
}

.coorporation-title hr {
  width: 40px;
  border: 2px solid #00BCD4;
}

.coorporation-img {
  margin: 0 auto;
  padding: 5px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.thumbnail {
  width: 13%;
  display: flex;
  margin: 20px auto;
}

.thumbnail img {
  width: 78%;
  margin: auto;
  filter: grayscale(100%);
  transition: all 0.4s;
}

.thumbnail img:hover {
  filter: grayscale(0%);
  transform: scale(1.07);
  cursor: pointer;
}

/* Footer */

.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #00704A;
  padding-top: 75px;
}

.footer .contain {
  height: auto;
  padding: 0px 50px 20px 50px;
}

.footer h2 {
  color: white;
  font-family: Kufam;
}

.footer p {
  color: white;
}

.footer-content {
  float: left;
  padding: 0px 0px 0px 0px;
}

.footer-media {
  float: right;
  padding-bottom: 40px;
  margin-right: 30px;
}

.footer-list li {
  padding-top: 30px;
}

.footer-media ul li {
  margin-left: 15px;
  padding-bottom: 20px;
  display: inline-block;
  padding-right: auto !important;
}

.footer .footer-media ul li:hover {
  color: #ffffff;
  transition: .1s;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transition: .1s;
}

.clearfix {
  clear: both;
}

.copyright {
  padding-top: 10px;
  text-align: center;
  color: white;
  font-family: Kufam;
}
